body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #b763b7, #232828, #999981);
  background-repeat: no-repeat;
  background-size: cover;
}


.form {
  width: 600px;
  margin: 75px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-image: linear-gradient(to bottom, #ab96a1, #907da5);
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h1{
  text-align: center;
}

.form h1 {
  color: #000;
  font-size: 24px;
  margin-bottom: 20px;
}

.form input, .form select, .form button {
  color: #000;
}

.form input:focus, .form select:focus, .form button:focus {
  outline: none;
  border-color: #000;
}

.form button {
  background-color: #000;
  color: #fff;
  margin-left: 45%
}
