body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.form {
  width: 500px;
  margin: 25px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

h1{
  text-align: center;
}

